jobs:
- job:
  displayName: From environment.yml
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add pipreqs to PATH

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - script: conda env create --quiet --file environment.yml
    displayName: Create Anaconda environment

  - bash: |
      source activate env-from-yaml
      pip install pytest pytest-azurepipelines
      pytest
    displayName: pytest